In [1]:
# Data cleaning and preprocessing of data
import pandas as pd
import re

In [2]:
# loading raw data
file_path_april_may = '/Users/anujb/Downloads/Fitness_Classes_Data/Fitness Classes Data/ClassesJune2018.csv'
file_path_june = '/Users/anujb/Downloads/Fitness_Classes_Data/Fitness Classes Data/ClassesApril-May2018.csv'

data_1= pd.read_csv(file_path_april_may)
data_2 = pd.read_csv(file_path_june)

In [3]:
print(data_1.head())
print(data_2.head())

  ActivitySiteID     ActivityDescription  \
0            BRP  20:20:20  9.30-10.30am
1            BRP  20:20:20  9.30-10.30am
2            BRP  20:20:20  9.30-10.30am
3            BRP  20:20:20  9.30-10.30am
4            BRP  20:20:20  9.30-10.30am

  BookingEndDateTime (Month / Day / Year) BookingStartTime  MaxBookees  \
0                               01-Jun-18          9:30:00          35
1                               08-Jun-18          9:30:00          35
2                               15-Jun-18          9:30:00          35
3                               22-Jun-18          9:30:00          35
4                               29-Jun-18          9:30:00          35

   Number Booked  Price (INR)
0             28          499
1             35          499
2             31          499
3             32          499
4             19          499
  ActivitySiteID      ActivityDescription  \
0            HXP  20-20-20  2.45pm-3.45pm
1            HXP  20-20-20  2.45pm-3.45pm
2            HXP  20-20-20  2.45pm-3.45pm
3            HXP  20-20-20  2.45pm-3.45pm
4            HXP  20-20-20  2.45pm-3.45pm

  BookingEndDateTime (Month / Day / Year) BookingStartTime  MaxBookees  \
0                               08-Apr-18         14:45:00          25
1                               15-Apr-18         14:45:00          25
2                               22-Apr-18         14:45:00          25
3                               29-Apr-18         14:45:00          25
4                               06-May-18         14:45:00          25

   Number Booked  Price (INR)
0             12        499.0
1             15        499.0
2             14        499.0
3              9        499.0
4              7        499.0

In [4]:
#removing duplicates
data_1 = data_1.drop_duplicates()
data_2 = data_2.drop_duplicates()

In [5]:
#handling missing values
med_1 =data_1['Price (INR)'].median()
med_2 = data_2['Price (INR)'].median() 
data_1['Price (INR)'] = data_1['Price (INR)'].fillna(med_1)
data_2['Price (INR)'] = data_2['Price (INR)'].fillna(med_2)

In [6]:
#Correcting datatype
data_1['BookingEndDateTime (Month / Day / Year)'] = pd.to_datetime(data_1['BookingEndDateTime (Month / Day / Year)'], format='%d-%b-%y')
data_1['BookingEndDateTime (Month / Day / Year)'] = data_1['BookingEndDateTime (Month / Day / Year)'].dt.strftime('%d-%m-%Y')

#changed column name
data_1 = data_1.rename(columns={'BookingEndDateTime (Month / Day / Year)': 'BookingEndDateTime (Day/Month/Year)'})
data_1['BookingStartTime'] = pd.to_datetime(data_1['BookingStartTime'], format='%H:%M:%S').dt.strftime('%I:%M %p')

#changing date format for data2
data_2['BookingEndDateTime (Month / Day / Year)'] = pd.to_datetime(data_2['BookingEndDateTime (Month / Day / Year)'], format='%d-%b-%y')
data_2['BookingEndDateTime (Month / Day / Year)'] = data_2['BookingEndDateTime (Month / Day / Year)'].dt.strftime('%d-%m-%Y')
data_2 = data_2.rename(columns={'BookingEndDateTime (Month / Day / Year)': 'BookingEndDateTime (Day/Month/Year)'})
data_2['BookingStartTime'] = pd.to_datetime(data_2['BookingStartTime'], format='%H:%M:%S').dt.strftime('%I:%M %p')

In [7]:
data_1 =data_1.astype({'Price (INR)' : 'int64'})
data_2 =data_2.astype({'Price (INR)' : 'int64'})

In [8]:
print(data_1.head())

  ActivitySiteID     ActivityDescription BookingEndDateTime (Day/Month/Year)  \
0            BRP  20:20:20  9.30-10.30am                          01-06-2018
1            BRP  20:20:20  9.30-10.30am                          08-06-2018
2            BRP  20:20:20  9.30-10.30am                          15-06-2018
3            BRP  20:20:20  9.30-10.30am                          22-06-2018
4            BRP  20:20:20  9.30-10.30am                          29-06-2018

  BookingStartTime  MaxBookees  Number Booked  Price (INR)
0         09:30 AM          35             28          499
1         09:30 AM          35             35          499
2         09:30 AM          35             31          499
3         09:30 AM          35             32          499
4         09:30 AM          35             19          499

In [9]:
print(data_2.head())

  ActivitySiteID      ActivityDescription BookingEndDateTime (Day/Month/Year)  \
0            HXP  20-20-20  2.45pm-3.45pm                          08-04-2018
1            HXP  20-20-20  2.45pm-3.45pm                          15-04-2018
2            HXP  20-20-20  2.45pm-3.45pm                          22-04-2018
3            HXP  20-20-20  2.45pm-3.45pm                          29-04-2018
4            HXP  20-20-20  2.45pm-3.45pm                          06-05-2018

  BookingStartTime  MaxBookees  Number Booked  Price (INR)
0         02:45 PM          25             12          499
1         02:45 PM          25             15          499
2         02:45 PM          25             14          499
3         02:45 PM          25              9          499
4         02:45 PM          25              7          499

In [10]:
#merge datasets
merged_data = pd.concat([data_1,data_2], ignore_index=True)

In [11]:
#Ensuring data consistency
merged_data['BookingEndDateTime (Day/Month/Year)'] = pd.to_datetime(merged_data['BookingEndDateTime (Day/Month/Year)'],format ="%d-%m-%Y").dt.strftime('%d-%m-%Y')
merged_data['BookingStartTime'] = pd.to_datetime(merged_data['BookingStartTime'], format='%I:%M %p').dt.strftime('%I:%M %p')

In [12]:
print(merged_data.head())

  ActivitySiteID     ActivityDescription BookingEndDateTime (Day/Month/Year)  \
0            BRP  20:20:20  9.30-10.30am                          01-06-2018
1            BRP  20:20:20  9.30-10.30am                          08-06-2018
2            BRP  20:20:20  9.30-10.30am                          15-06-2018
3            BRP  20:20:20  9.30-10.30am                          22-06-2018
4            BRP  20:20:20  9.30-10.30am                          29-06-2018

  BookingStartTime  MaxBookees  Number Booked  Price (INR)
0         09:30 AM          35             28          499
1         09:30 AM          35             35          499
2         09:30 AM          35             31          499
3         09:30 AM          35             32          499
4         09:30 AM          35             19          499

In [13]:
#cross referencing

In [14]:
#for checking no. of rows in merged_data = no. of rows in data_1 + data_2 
def rows():
    return len(data_1) +len(data_2) == len(merged_data)

In [15]:
quality_check = {
    "Equal no. of rows" : rows(),
    "missing": merged_data.isnull().sum(), 
    "duplicate": merged_data.duplicated().sum(), 
    "datatypes": merged_data.dtypes, 
    "summary": merged_data.describe(),
    }

In [16]:
#quality report
for key, value in quality_check.items():
    print(f"{key}: \n{value}\n")

Equal no. of rows:
True

missing:
ActivitySiteID                         0
ActivityDescription                    0
BookingEndDateTime (Day/Month/Year)    0
BookingStartTime                       0
MaxBookees                             0
Number Booked                          0
Price (INR)                            0
dtype: int64

duplicate:
0

datatypes:
ActivitySiteID                         object
ActivityDescription                    object
BookingEndDateTime (Day/Month/Year)    object
BookingStartTime                       object
MaxBookees                              int64
Number Booked                           int64
Price (INR)                             int64
dtype: object

summary:
        MaxBookees  Number Booked  Price (INR)
count  3289.000000    3289.000000  3289.000000
mean     32.179386      17.088781  1850.778656
std      15.092156       9.504098   790.894827
min       2.000000       1.000000   499.000000
25%      24.000000      10.000000  1299.000000
50%      30.000000      16.000000  1499.000000
75%      35.000000      24.000000  2499.000000
max      70.000000      64.000000  3999.000000

In [17]:
 #remove leading and trailing whitespace
def SplitDescription(description):
    description = description.strip() 
    #time ranges
    match = re.search(r'\b\d{1,2}[:.]\d{2}\s*-\s*\d{1,2}[:.]\d{2}(?:am|pm)?\b', description, re.IGNORECASE)
    if match:
        time = match.group(0)
        class_name = description.replace(time, '').strip()
        return pd.Series([class_name, time])
    else:
        return pd.Series([description, None])

In [18]:
#index of 'ActivityDescription'
col_index = merged_data.columns.get_loc('ActivityDescription')

In [19]:
#get 2 new columns
new_columns = merged_data['ActivityDescription'].apply(SplitDescription)
new_columns.columns = ['Class Name', 'Class Timings']

In [20]:
#inserting new columns at original positions
merged_data.insert(col_index, 'Class Name', new_columns['Class Name'])
merged_data.insert(col_index + 1, 'Class Timings', new_columns['Class Timings'])

In [21]:
#drop'ActivityDescription' 
merged_data.drop(columns=['ActivityDescription'], inplace=True)

In [23]:
data_1.to_csv('C:/Users/anujb/Downloads/Fitness_Classes_Data/Fitness Classes Data/cleaned/Data_1.csv',index=False)
data_2.to_csv('C:/Users/anujb/Downloads/Fitness_Classes_Data/Fitness Classes Data/cleaned/Data_2.csv',index=False)
merged_data.to_csv('C:/Users/anujb/Downloads/Fitness_Classes_Data/Fitness Classes Data/cleaned/Cleaned_Data.csv',index=False)

In [24]:
print(merged_data.head())

  ActivitySiteID Class Name Class Timings BookingEndDateTime (Day/Month/Year)  \
0            BRP   20:20:20  9.30-10.30am                          01-06-2018
1            BRP   20:20:20  9.30-10.30am                          08-06-2018
2            BRP   20:20:20  9.30-10.30am                          15-06-2018
3            BRP   20:20:20  9.30-10.30am                          22-06-2018
4            BRP   20:20:20  9.30-10.30am                          29-06-2018

  BookingStartTime  MaxBookees  Number Booked  Price (INR)
0         09:30 AM          35             28          499
1         09:30 AM          35             35          499
2         09:30 AM          35             31          499
3         09:30 AM          35             32          499
4         09:30 AM          35             19          499